* {
  font-family: Arial;
  background-color: white;
  color: #535353;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 15px;
  padding-left: 5px;
  height: 30px;
  width: 200px;

}

.form-input-cep {
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  padding-left: 5px;
  height: 30px;
}

#formulario-cep {
  font-size: 12px;
}

#formulario-numero {
  width: 40px;
}

#form-estado {
  width: 207px;
}

.formulario-cadastro {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.formulario-tabelas-botao {
  display: inline-block;
  margin: 15px 15px 15px 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.formulario-ajuste-botao {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formulario-dados-pessoais {
  width: 400px;
  height: 500px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 20px 100px 30px 20px;
  margin-top: 10px;
  margin-left: 20px;
  border-top: 1px solid black;
  border-radius: 2px;
  box-shadow: inset 0 0 0.5px rgba(128, 128, 128, 0.3), 0 0 1em rgba(128, 128, 128, 0.3);
}

.formulario-titulo-dados-pessoais {
  width: 400px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(169, 169, 169, 0.3);
  padding-bottom: 10px;
}

#registration-dados {
  margin-right: 10px;
}

.field {
  display: flex;
  margin: 30px 1px 30px 1px;
  text-align: center;
  align-items: center;
}

.form-end-label {
  display: inline-block;
  text-align: right;
  width: 120px;
  margin-left: 60px;
}

.form-end-field {
  display: inline-block;
  text-align: left;
}

.formulario-endereco {
  width: 450px;
  height: 550px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 10px;
  padding: 20px 100px 30px 20px;
  border-top: 1px solid black;
  border-radius: 2px;
  box-shadow: inset 0 0 0.5px rgba(128, 128, 128, 0.3), 0 0 1em rgba(128, 128, 128, 0.3);
}

.formulario-titulo-endereco {
  font-size: 20px;
  text-align: left;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(169, 169, 169, 0.3);
  padding-bottom: 10px;
}

.registration-botao {

  margin: 20px 0px 15px 0px;
  text-align: right;
}

.formulario-button-cancelar {
  width: 100px;
  height: 40px;
  background-color: #d8d5d5;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid rgba(169, 169, 169, 0.3);
}

.formulario-button-criar-conta {
  width: 100px;
  height: 40px;
  background-color: rgba(88, 158, 59);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}